@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
 

}

/* configuração logomarca e menu */
header {
    width: 100vw;
    height: 14vh;
    color: #F4F2F3;
    background-color: #252525;
    position: fixed;
    font-family: 'Roboto Serif', serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    padding: 0 80px 0 120px;

}
p{
    font-family: 'Roboto Serif', serif;
}

nav a {
    color: #F4F2F3;
    font-size: 3rem;
    letter-spacing: 20px;
    /*ver depois qual tag é mais correta para espaçamento entre itens */
}

nav a:hover {
    color: #F05081;

}

.logomarca {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logomarca h3{
    font-size: 1.7rem;
}

.logomarca img {
    width: 5vw;
}

/*MOBILE - HEADER */
@media (max-width:500px) {
    header {
        width: 100%;
        height: 13vh;
        padding: 0 30px 0 80px;
        font-size: 20px;
    }

    nav .icone-nmobile {
        display: none;
    }

    nav #mobile-icone {
        font-size: 70px;

    }

    .logomarca {
        padding: 0 30px 0 80px;
    }

    .logomarca img {
        width: 70px;

    }
    .logomarca h3{
        font-size: 1.6rem;
    }
}


/* configuração primeira pagina */
.primeira-pagina {
    background-image: url(img/fundo-pag1.png);
    height: 140vh;
    background-repeat: no-repeat;
    /* largura e altura para o fundo da página */
    background-size: 100% 140vh;  
    background-position: center;
   
}

.primeira-pagina img {
    width: 10%;
  
}

.inicio {
    width: 100%;
    height: 60%;
    display: flex;
    text-align: center;
    color: #F4F2F3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

h1 {
    font-size: 50px;
    width: 45%;
    font-weight: 800;   
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
    font-family: 'Roboto Serif';
}

/* MOBILE - PRIMEIRA PAGINA */
@media (max-width:500px) {
    .primeira-pagina{
        background-image: url(img/pag1-mobile.png);
        background-size: cover;

    }
    h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .primeira-pagina img {
        width: 20%;
    }


}



/* configuração da segunda pagina */

.segunda-pagina {
 
    background-image: url(img/fundo-pag2.png);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: 100% 150vh;
    background-position: center;
    display: flex;
    align-items: center;
    
}

.segunda-pagina .paragrafo {
    width: 40%;
    height: 60%;
    text-align: justify;
    line-height: 2.5rem;
    margin: 0 0 0 3rem;
  
 
}

.segunda-pagina h2 {
    font-size: 3rem;
    color: #252525; 
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
   
}

.segunda-pagina .paragrafo p {
    font-size: 25px;
    color: #252525;
    margin: 2rem 0 2rem 0;
 
  
}

.paragrafo .botao{
    background-color: #252525;
    padding: 20px 20px;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;

} 

/* MOBILE - SEGUNDA PAGINA */
@media (max-width:500px) {
    .segunda-pagina{
        display: flex;
        /* align-items: center;
        justify-content:center;  */
        height: 120vh;
        background-size: 100% 120vh;  
        background-position: center;
        background-image: url(img/pagina2-mobile.png);
      
      
    }
    .segunda-pagina .paragrafo{
        width: 70%;
        height: 70%; 
        text-align: left;
        line-height: 1.9rem;
    }
    
    .segunda-pagina h2 {
    font-size: 2rem;
    color: #252525; 
    margin-bottom: 0;  
   
}

    .segunda-pagina .paragrafo p {
    font-size: 1.2rem;
    color: #252525;
    margin: 1rem 0 2rem 0;
}
    .paragrafo .botao{
    background-color: #252525;
    padding: 15px 15px; 
    font-size: 1rem;

} 
}

/* configuração da terceira pagina */

.terceira-pagina {
    background-image: url(img/fundo-pag3.png);
    height: 150vh;
    background-size: 100% 150vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
   
}
.paragrafo2{
    width: 40%;
    height: 50%;
    margin: 2rem;
    margin-bottom: 20%;
    line-height: 2.5rem;

}
.paragrafo2 p{
    font-size: 25px;
    color: #FFFFFF;
    margin: 2rem 0 2rem 0;
    
   
}
.terceira-pagina h2{
    font-size: 3rem;
    color: #FFFFFF; 
    font-family: 'Roboto', sans-serif;

}
.terceira-pagina .botao{
    background-color: #FFFFFF;
    padding: 20px 20px;
    border-radius: 20px;
    color: #252525;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;

}
.botao:hover{
    color: #F05081;

}


/* MOBILE - TERCEIRA PAGINA */
@media (max-width:500px) {
    .terceira-pagina {
        background-image: url(img/pag3-mobile.png);
        display: flex;
        height: 120vh;
        background-size: 100% 120vh; 
    }
    .paragrafo2{
        width: 70%;
        height: 70%; 
        text-align: left;
        line-height: 1.9rem;  
    }

    .paragrafo2 p{
        font-size: 1.2rem;
        color: #FFFFFF;
        margin: 1rem 0 1rem 0;
 
       
    }
    .terceira-pagina h2{
        font-size: 2rem;
        color: #FFFFFF; 
        margin-bottom: 0;  

    }
    .terceira-pagina .botao{
        background-color: #FFFFFf;        
        color: #252525;
        font-size: 1rem;
        padding: 15px 15px;

    }
    
    }

    



/* configuração bloco branco intervalo de pag 3-4 */

.bloco-branco{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bloco-branco img{
    margin-left: 8rem;
    width: 10vw;
}
.bloco-branco h4{
    font-style: italic;
    font-size: 2rem;
    color: #FD6A9A;
}


/* MOBILE - BLOCO BRANCO */
@media (max-width:500px) {
    .bloco-branco{
        width: 100%;
        height: 30vh;
    }
    .bloco-branco img{
        width: 30vw;
 
    }
    .bloco-branco h4{
        font-style: italic;
        font-size: 1.5rem;    
        margin: 5%;  
    
    }
}

/* footer */

footer{
    width: 100vw;
    height: 60vh;
    background-color: #EB4A7B;
    color: #F4F2F3;
    display: flex; 
    justify-content: space-around;
    align-items: center;
 
     
 
}
 
ul{
   list-style: none;
   line-height: 2.5rem;
}

footer h4{
   
    font-size: 20px;
    font-weight: 900;
 
}
.logomarca-footer{
    display: none;
    
}
.menu-footer{
    display: none;

}


/* MOBILE - FOOTER */
@media (max-width:500px) {
    footer{
        height: 90vh;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;       
    }
     
    ul{
       line-height: 1.5rem;
    }
    
    footer h4{
        font-size: 25px;
        font-weight: 900;
     
    }
    .logomarca-footer{
        display: initial;
 
 
    }
    .logomarca-footer img{
        width: 5vw;
   
    }
    .menu-footer{
        display: initial;
    }
 
  


}